<div class="main-box">
    <h2 class="heading">{{ getDay(day) }} you will do {{ maxTasks }} tasks</h2>
    <label for="max-tasks">Max tasks today: </label>
    <input [(ngModel)]="maxTasks" type="number" id="max-tasks">
    <div>
        Tasks list:
        <ul class="list">
            <li>task 1</li>
            <li>task 2</li>
        </ul>
    </div>
    <div>
        <input #newTaskInput (keyup)="checkInput($event)" type="text" placeholder="New Task">
        <button [disabled]="!canAddTask" class="btn" (click)="addTask(newTaskInput)">Add task</button>
    </div>
    <p>You've reached task limit!</p>
    <p>Selected task</p>
</div>
